<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="countHour" value="4" />
    <add key="countMinForHideTrains" value="10"/>
  </appSettings>
  
  <connectionStrings>
    <add name="zivk" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.35.163\SQLEXPRESS;Initial Catalog=CentralActiveTrainInfoDB;Persist Security Info=True;User ID=TrainUser;Password=1" />
    <add name="agdp"  connectionString="http://10.1.34.251/AGDPNew/Service/GetLastEvenTrains" />
    <add name="iasPurGP" providerName="System.Data.SqlClient" connectionString="Data Source=10.20.47.53\INFBOARD;Initial Catalog=Iaspurgp;User ID=sa;Password=111111111111111" />
    <add name="fileConvertESRCode" connectionString="d:\Проекты\Табло\System\ServerZIVK\StationCodCorresponded.xml"/>
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="BasicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </netTcpBinding>

    </bindings>

    <services>
      <service name="TrainsZivkWinService.Service" behaviorConfiguration="TrainsZivkWinService.ServiceBehavior">
        <endpoint address="" binding="netTcpBinding" behaviorConfiguration="" contract="TrainsZivkWinService.IService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" behaviorConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15200/TrainsZivkWinService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TrainsZivkWinService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  
</configuration>